:root{
    
    --bg-graphicTop: #009688;
    --bg-body: #DADBD4;
    --bg-head: #EAEAEA;
    --bg-options: #8EDAFC;
    --bg-search: #FAFAFA;
    --color-options: #8EDAFC;
    --color-icons: #B1B1B1;
    --color-soft-text: #B7B8C7;
    --border-search: #F4F4F4;
    --text-link: #537B8E;
    --sent-message: #D5F9BA;
    --received-message: #FFFFFF;
}

/* DEBUG ----------------------------------------------- */

.debug aside{
    height: 100%;
    background-color: blue;
}

.debug main{
    height: 100%;
    background-color: yellow;
}

.debug #main-head{
    background-color: #EAEAEA;
}

.debug #main-foot{
    background-color: #EAEAEA;
}

.debug #main-content{
    background-color: #E4DDD5;
}

.debug #aside-head{
    background-color: #EAEAEA;
}

.debug #aside-options{
    /* background-color: #8EDAFC; */
    /* height: 140px; */
}

.debug #aside-conversations{
    /* background-color: #EAEAEA;
    height: calc(100% - 210px); */
}

/* REGOLE CSS ------------------------------------------ */

body{
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-body);
}

.ms_bg-head{
    background-color: var(--bg-head);
}

.ms_bg-options{
    background-color: var(--bg-options);
}

.ms_text-options{
    color: var(--color-options);
}

.ms_bg-conversations{
    background-color: var(--bg-search);
}

.ms_border-search-color{
    background-color: var(--border-search);
}

.ms_link-color{
    color: var(--text-link);
}

.ms_soft-text{
    color: var(--color-soft-text);
}

.ms_graphic-topBg{
    height: 150px;
    background-color: var(--bg-graphicTop);
}

#whatsapp{
    background-color: red;
    position: relative;
    top: -125px;
    height: calc(100vh - 50px);
    min-width: 768px;
}

.card img{
    height: 3rem;
}

.ms_card-options{
    font-size: 1.5rem;
}

.ms_icons-color{
    color: var(--color-icons);
}

.ms_card-text a{
    font-size: 0.75rem;
}

/* ASIDE ----------------------------------------------- */

#aside-head{
    height: 70px;
    border-right: 2px solid #D6D6D6;
}

#aside-options{
    height: 80px;
}

.ms_rounded-icon{
    height: 3rem;
    width: 3rem;
}

#search-bar{
    height: 50px;
}

#conversations-list{
    height: calc(100% - 50px);
    list-style: none;
}

#aside-conversations{
    border-right: 2px solid #D6D6D6;
    height: calc(100% - 210px);
}

#aside-conversations .card img{
    height: 4rem;
}

.ms_message-preview{
    font-size: 0.75rem;
}

/* MAIN ------------------------------------------------ */

#main-head{
    height: 70px;
}

#main-content{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
}

#message-list{
    list-style: none;
    margin: auto;
    height: 100%;
}

.ms_message{
    max-width: 300px;
}

.ms_sent{
    background-color: var(--sent-message);
    align-self: end;
}

.ms_received{
    background-color: var(--received-message);
    align-self: start;
}

#main-foot{
    height: 70px;
}



